#slogan: This is where the slogan from the config files goes
#information: Thsi is just a test to see if the information from the config file prints
#facebook: http://facebook.com/blabla
#twitter: http://twitter.com/blabla
#linkedin: http://linkedin.com/blabla
#footermenuone: main
#footermenutwo: other
#video: http://player.vimeo.com/video/22884674?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" 
